@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
margin: 0;
padding: 0;
text-decoration: none;
list-style-type: none;
font-family: inter,'arial';

}

body{
width: 100vw;
}

a{
text-decoration-style: none;
color:#3A404E;
}

header{
display: flex;
width: 100vw;
padding-top: 30px;
color: #3A404E;
justify-content: space-around;
text-align: center;

}

.header-logo{
display: flex;
align-items: center;
}

.header-logo h4{
font-weight: 500;
padding-left: 10px;
}

.botoes-cadastrar{
display: inline-block;
background-color: #8E2424;
text-align: center;
border-radius: 8px;
color: #fff;
width: 112px;
height: 30px;
padding-top: 10px;
}

.header-menu a{
padding-top: 10px;
display: flex;
display: inline-block;
padding-right: 15px;
    
}
.sobre-nos{
display: grid;
justify-content: center;
padding: 96px;
text-align: center;
}

.sobre-nos h5{
color: #8E2424;
font-size: 16px;
padding-top: 24px;
}

.sobre-nos h2{
font-size: 48px;
padding-top: 24px;
}

.sobre-nos p{
font-size: 20px;
color: #3A404E;
padding-top: 24px;
}

.metricas{
display: flex;
justify-content: space-between;
margin: 15px;
padding: 15px;
}

.metricas h2{
font-size: 60px;
color: #8E2424;
}

.metricas h3{
font-size: 18px;
}

.metricas p{
font-size: 16px;
color: #3A404E;
}

.anuncio-vagas{
margin: 50px;
}

.vagas-aberta-frase{
display: flex;
justify-content: center;
}

.anuncio-vagas-abertas{
color: #8E2424;
text-align: center;
background-color: #8e24245d;
border-radius: 16px;
width: 8rem;
padding:3px;
}
  
.anuncio-vaga-frase{
display: flex;
color: #3A404E;
justify-content: center;
font-weight: 600;
font-size: 36px;
padding: 35px;
}

.anuncio-vagas-paragrafo{
display: flex;
justify-content: center;
font-size: 20px;
}

.anuncio-vaga-foto{
display: flex;
justify-content: center;
padding: 30px;
}

.tipo-vaga{
padding-top: 32px;
padding-left: 256px;
}

.anuncio-vagas-vagas{
padding-left: 256px
}

.anuncio-vaga-info{
border: 1px solid #a8a6a6;
border-radius: 16px;
width: 768px;
height: 136px;
margin-top: 24px;
}

.titulo-vaga{
padding: 24px;
font-size: 18px;
color: #101828;
font-weight: 500;
}

.periodo-vaga, .salario-vaga{
padding-left: 24px;
display: flex;
font-size: 16px;
color: #667085;
font-weight: 500;
}

.comentarios-colaboradores{
display: flex;
flex-direction: column;
padding-top: 64px;
padding-left: 5rem;
padding-right: 5rem;
text-align: center;
background-color: #C3191908;
}

.comentario-conteudo{
font-size: 36px;
font-weight: 500;
}

.comentarios-colaboradores-frase{
display: flex;
justify-content: center;
color: #8E2424;
padding: 30px;
}

.comentarios-colaboradores-avatar{
display: flex;
justify-content: center;
padding-top: 15rem;
}

.foto-colaborador{
width: 56px;
align-self: center;
padding-top: 16px;
}

.funcao-colab{
color: #3A404E;
font-weight: 400;
padding-top: 4px;
}

.nome-colab{
font-weight: 500;
}

.footer-pagina{
padding-top: 160px;
display: flex;
align-items: center;
flex-direction: column;
background-color: #F9FAFB;
}

.footer-frase{
font-weight: 600;
font-size: 36px;
text-align: center;
}

.footer-frase-paragrafo{
padding: 10px;
}

.cad-email{
padding: 30px;
}

.campo-email-footer{
width: 492px;
height: 40px;
border-radius: 10px;
border: #10182854 solid 1px;
padding-left: 15px;
}

.copyright{
    padding: 96px;
    color: #98A2B3;
}

@media only screen and (max-width: 700px) {
    .header-menu a{
    display: none;
    }
    
    .anuncio-vaga-foto{
    display: flex;
    justify-content: center;
    }

    .foto-empresa{
        width: 20rem;
    }

    .metricas{
    flex-direction:column ;
    }

    .tipo-vaga{
    padding-top: 32px;
    padding-left: 3px;
    }
    
    .anuncio-vaga-frase{
    font-size: 15px;
    }

    .anuncio-vagas-vagas{
    padding-left: 10px
    }

    .anuncio-vaga-info{
    border: 1px solid #a8a6a6;
    border-radius: 16px;
    width: 265px;
    height: 135px;
    margin-top: 8px;
    }

    .comentario-conteudo{
    font-size: 10px;
    font-weight: 500;
    }
        
    .campo-email-footer{
    width: 292px;
    height: 40px;
    border-radius: 10px;
    border: #10182854 solid 1px;
    padding-left: 15px;
    }

    .footer-frase{
        font-size: 15px;
    }

    .footer-frase-paragrafo{
        font-size: 10px;
    }

    .campo-email-footer{
    width: 150px;
    height:40px;
    border-radius: 10px;
    border: #10182854 solid 1px;
    padding-left: 15px;
    }

    .copyright{
        padding-top: 15px;
    }
  }